@model IEnumerable<XykChat.Models.RoomModels.RoomListItem>

@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink($"{Html.DisplayFor(modelItem => item.Name)}", "View", new { id=item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Add Channel", "AddChannel", new { id = item.ID }) |
            @Html.ActionLink("View Channels", "View", new { id = item.ID }) |
            @Html.ActionLink("Invite Link", "Join", new { id = item.ID })
        </td>
    </tr>
}

</table>
